body {
}

.flash-success {
    padding-top:8px;
    padding-bottom:8px;
    color: #ffffff;
    background-color: #1c8842;
    font-size:16px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
}

.flash-error {
    padding-top:8px;
    padding-bottom:8px;
    color: #ffffff;
    background-color: #d33537;
    font-size:16px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
}
